[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Demo/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Demo/products-ms.git
